/*        BOOKMARK         */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", "Arial", sans-serif;
    color: rgba(36, 42, 69, 1);
    font-size: 18px;
    font-weight: 400;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 171px;
    padding-right: 171px;
    margin-left: auto;
    margin-right: auto;
}

/*     HEADER      */

.header-container {
    margin-top: 48px;
    display: flex;
}
.nav-list {
    display: flex;
    margin: 0;
    margin-left: 503px;
    padding: 0;
    list-style-type: none;
}
.nav-item {
    margin-left: 48px;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #242A45;
}
a {
    text-decoration: none;
    border-radius: 5px;
}
.nav-link:hover {
    color: rgba(250, 89, 89, 1); 
}
.login .nav-link{
    padding: 12px 34px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(250, 89, 89, 1);
    border: 2px solid rgba(250, 89, 89, 1);
}
.login .nav-link:hover {
    color: rgba(250, 89, 89, 1);
    background-color: white;
    border: 2px solid rgba(250, 89, 89, 1);
}

/*      HERO SECTION        */

.hero-container {
    display: flex;
    padding-top: 196px;
}
.hero-left {
    width: 540px;
}
.heading {
    margin: 0;
    font-weight: 500;
    font-size: 48px;
}
.heading-text {
    margin-top: 24px;
    margin-bottom: 0;
}
.heading-link {
    display: flex;
    margin-top: 32px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
}
.chrome {
    padding: 10px 24px;
    color: rgba(255, 255, 255, 1);
    background: #5267DF;
    border: 2px solid #5267DF;
}
.chrome:hover {
    color: rgba(82, 103, 223, 1);
    background-color: white;
    border: 2px solid #5267DF;;
}
.firefox {
    padding: 10px 24px;
    color: #242A45;
    background: #F7F7F7;
    border: 2px solid #F7F7F7;
    margin-left: 16px;
}
.firefox:hover {
    color: #242A45;
    border: 2px solid #242A45;
    background-color: #fff;
}

/*       FUTURE SECTION        */

.future-container {
    margin-top: 200px;
}
.wrapper {
    margin-left: 185px;
    text-align: center;
}
.future-info {
    width: 540px;
    margin-left: 95px;
}
.name {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
}
.text {
    margin: 0;
    margin-top: 16px;
}
.button-list {
    width: 730px;
    margin: 72px 0px;
}
button {
    padding: 0;
    border: none;
    background-color: #fff;
    font-size: 16px;
}
.speedy, .easy {
    margin-left: 100px;
}
button:hover {
    color: rgba(250, 89, 89, 1);
}
.red-line {
    width: 243px;
    margin-top: 27px;
    border: 1px solid rgba(250, 89, 89, 1);
    background-color: rgba(250, 89, 89, 1);
    
}
.line {
    width: 730px;
    border: 1px solid rgba(73, 93, 207, 0.20012);
    background: rgba(73, 93, 207, 0.20012);
}
.wrapper-two {
    display: flex;
}
.one-click {
    width: 445px;
    padding-top: 57px;
    padding-left: 100px;
}
h3 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
}
.data {
    margin: 0;
    margin-top: 16px;
}
.more {
    margin-top: 32px;
}
.link-info {
    display: inline-block;
    padding: 10px 24px;
    border: 2px solid #5267DF;
    background: #5267DF;
    color: white;
}
.link-info:hover {
    color: #5267DF;
    background-color: white;
}

/*      EXTENSION SECTION      */

.extension-container {
    margin-top: 238px;
    padding: 0px 266px;
}
.download {
    width: 541px;
    margin-left: 184px;
    text-align: center;
}
.info {
    margin: 0;
    margin-top: 16px;
}
.add-to {
    display: flex;
    margin-top: 48px;
    text-align: center;
}
.add-chrome, .add-firefox, .add-opera {
    width: 280px;
    height: 371px;
    padding-top: 49px;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
}
h4 {
    margin: 0;
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
}
.version {
    margin: 0;
    margin-top: 6px;
    font-size: 15px;
}
.spots {
    margin-top: 32px;
}
.install {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 500;
}
.add-install {
    display: inline-block;
    padding: 10px 35px;
    color: white;
    border: 2px solid #5267DF;
    background-color: #5267DF;
}
.add-install:hover {
    color: #5267DF;
    background-color: white;
}
.add-firefox {
    margin-top: 40px;
    margin-left: 35px;
}
.add-opera {
    margin-top: 80px;
    margin-left: 35px;
}

/*      QUESTION SECTION     */

.question-container {
    margin-top: 149px;
    padding: 0px 450px;
    text-align: center;
}
.FAQ {
    width: 540px;
}
.FAQ-text {
    margin-top: 16px;
}
.dropdown {
    width: 540px;
    margin-top: 56px;
}
.black-line {
    border: 1px solid #242A45;
    background: #242A45;
}
.answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h5 {
    font-weight: 400;
    font-size: 18px;
}
h5:hover {
    color: red;
}
/*       STAY-UP SECTION      */

.stay-up-container {
    margin-top: 150px;
    padding: 58px 499px 74px 499px;
    background-color: rgba(82, 103, 223, 1);
}
.big-wrapper {
    width: 442px;
    text-align: center;
}
.join {
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 5px;
    color: #FFFFFF;
}
.up-to-date {
    margin-top: 24px;
    color: #FFFFFF;
}
.contact {
    margin-top: 36px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.email {
    width: 300px;
    margin: 0;
    padding: 10px 113px 10px 20px;
    color: rgba(36, 42, 69, 0.2501);
    background-color: #fff;
}
.link {
    width: 128px;
    display: inline-block;
    margin-left: 16px;
    padding: 10px 24px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: rgba(250, 89, 89, 1);
    border: 2px solid rgba(250, 89, 89, 1);
}
.link:hover {
    color: rgba(250, 89, 89, 1);
    background-color: #FFFFFF;
}

/*     FOOTER      */

.footer-container {
    padding: 32px 165px 18px 165px;
    background-color: rgba(36, 42, 69, 1);
}
.footer {
    display: flex;
}
.footer-item {
    display: flex;
    margin-left: 63px;
}
.footer-link {
    margin-left: 46px;
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 13px;
}
.footer-link:hover {
    color: rgba(250, 89, 89, 1);
}
.logo {
    display: flex;
    margin-left: 515px;
}
.logo-img {
    margin-left: 40px;
}